data-designer~=0.3.7
deepagents>=0.3.11
duckdb~=1.4.4
dotenv~=0.9.9
faiss-cpu~=1.12.0
fastapi~=0.116.1
ipywidgets~=8.1.7
jupyter-app-launcher>=0.1.0
jupyterlab-git>=0.44.0
jupyterlab>3.0
langchain-nvidia-ai-endpoints>1,<2
langchain-openai>1,<2
langchain>1,<2
langchain-classic>=1.0.0
langchain_mcp_adapters~=0.2.1
langgraph-cli[inmem]
langgraph>1,<2
langsmith~=0.3.0
nemo-microservices~=1.3.0
OpenAI
pandas~=2.3.0
pydantic
ragas~=0.2.0
scikit-learn~=1.6.0
streamlit~=1.49.1
tavily-python~=0.7.19
voila
torch==2.10.0
unsloth==2026.4.4
unsloth-zoo==2026.4.6
trl==0.24.0
transformers==5.5.0
